<div class="about">
    <div class="container">
        <div class="interior">
            <div class="header">
                <div class="title">
                    <h1>Ali Roux</h1>
                </div>
            </div>
            <nav>
                <div class="navigation">
                    <ul class="nav-links">
                        <a routerLink="/home" routerLinkActive="active">
                            <li class="nav">HOME</li>
                        </a>
                        <a [routerLink]="['/travel', {outlets: {'album': ['travelAlbum'], 'photo': ['none']}}]">
                            <li class=" nav ">TRAVEL</li>
                        </a>
                        <a [routerLink]="['/recipes', {outlets: {'photos': ['recipePhotos'], 'method': ['none']}}]">
                            <li class="nav">RECIPES</li>
                        </a>
                        <a routerLink="/about" routerLinkActive="active">
                            <li class="nav">ABOUT ME</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <div class="line"></div>
            <!-- <div class="about col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3 text-center"> -->
            <p></p>
            <p>
                A few years ago, I started this project on Squarespace, but I wanted it to be my own design and code, so I created this site. This website was made using Angular and TypeScript. Here is my <a href="https://github.com/allisonbessett/ali-roux">GitHub repo</a>.
            </p>
            <p>I have a degree in animal physiology and a certificate in front end development. I've worked as a junior developer for 8 months. I am actively looking for a new position and would love the opportunity to contribute to a remote team.

            </p>
            <h3>
                <div class="bold">Strengths</div>
            </h3>
            <div class="bullet">Angular</div>
            <div class="bullet">TypeScript and JavaScript</div>
            <div class="bullet">Sass and CSS3</div>
            <div class="bullet">Bootstrap</div>

            <div class="bullet">Git, Github, Bitbucket, and Jira</div>
            <!-- </div> -->
        </div>
    </div>