<div class="recipes">

    <div>
        <mat-card-title class="recipeTitle"> {{currentRecipe?.name}}
        </mat-card-title>
    </div>
    <div *ngFor="let photo of currentRecipe?.photo">
        <img class="method" src={{photo}}/>
    </div>

    <div class="top">
        <div class="intro" *ngFor="let intro of currentRecipe?.intro">
            {{intro}}
        </div>
    </div>
    <div class="ingredients" *ngFor="let ingredients of currentRecipe?.ingredients">
        {{ingredients}}
    </div>
    <div class="directions bottom" *ngFor="let method of currentRecipe?.method">
        {{method}}
    </div>
</div>