.landing {
    padding-top: 5rem;
    .container {
        border: 2px solid lightgray;
        padding-bottom: 4rem;
    }
    .title {
        font-family: 'Playfair Display', serif;
        padding-top: 4rem;
        h1 {
            font-size: 5rem;
            text-align: center;
        }
    }
    a {
        color: gray;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        color: gray;
        padding-right: 5rem;
    }
    .nav {
        justify-content: center;
        padding: 4rem 2rem;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .image {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 8rem 1rem 0;
        width: 30%;
        display: inline-block
    }
    .line {
        line-height: 1.6em;
        margin-top: -1.6em;
        margin-bottom: 1.6em;
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}