.landing {
    .container {
        background: lightgray;
    }
    .interior {
        background: white;
    }
    .title {
        margin: 0 auto;
    }
    .inline {
        display: inline;
    }
}