.recipes {
    padding-top: 5rem;
    .container {
        border: 2px solid lightgray;
        padding-bottom: 4rem;
    }
    .title {
        font-family: 'Playfair Display', serif;
        padding-top: 4rem;
        h1 {
            font-size: 5rem;
            text-align: center;
        }
    }
    h3,
    a {
        text-align: center;
        color: gray;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        color: gray;
        padding-right: 5rem;
    }
    .nav {
        justify-content: center;
        padding: 4rem 2rem;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        text-align: center;
    }
    .nav-recipes {
        margin: -1rem 0;
    }
    .line {
        line-height: 1.6em;
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    .columns {
        display: flex;
        flex-direction: row;
    }
    mat-card {
        flex: 1 1 50%;
        width: 50%;
    }
    .recipeTitle {
        color: gray;
        text-align: center;
        font-size: 3rem;
        margin: -5rem;
        padding-bottom: 2rem;
    }
    .image {
        width: 100%;
        height: auto;
        // display: inline-block;
        margin: 0;
    }
    .method {
        width: 40%;
        height: auto;
        margin: 0 auto;
        display: block;
        padding-top: 5rem;
    }
    .hide {
        display: none;
    }
    figcaption {
        padding-bottom: 5rem;
        text-align: center;
        font-weight: 300;
        color: darkslategray;
    }
    .intro,
    .directions {
        // text-align: center;
        line-height: 2rem;
        letter-spacing: 0.3px;
    }
    .top {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    .servings {
        text-align: center;
        font-size: 1.3rem;
    }
    .ingredients {
        text-align: center;
        line-height: 2.5rem;
        letter-spacing: 0.2px;
        font-weight: 550;
    }
    .bottom {
        padding-top: 2rem;
        // text-align: right;
    }
    @media screen and (max-width: 500px) {
        mat-card {
            padding-bottom: 10rem;
        }
        mat-grid-tile {
            padding-bottom: 10rem;
        }
        .image-wrapper {
            padding-bottom: 2rem;
        }
    }
}