<div class="landing">
    <div class="container">
        <div class="interior">
            <div class="header">
                <div class="title">
                    <h1>Ali Roux</h1>
                </div>
            </div>
            <nav>
                <div class="navigation">
                    <ul class="nav-links">
                        <a routerLink="/home" routerLinkActive="active">
                            <li class="nav">HOME</li>
                        </a>
                        <a [routerLink]="['/travel', {outlets: {'album': ['travelAlbum'], 'photo': ['none']}}]">
                            <li class=" nav ">TRAVEL</li>
                        </a>
                        <a [routerLink]="['/recipes', {outlets: {'photos': ['recipePhotos'], 'method': ['none']}}]">
                            <li class="nav">RECIPES</li>
                        </a>
                        <a routerLink="/about" routerLinkActive="active">
                            <li class="nav">ABOUT ME</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <div class="line"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img src="https://github.com/allisonbessett/new-portfolio/blob/master/src/app/images/landing1.jpg?raw=true" class="image" alt="Lofoten Islands">
                <img src="https://github.com/allisonbessett/new-portfolio/blob/master/src/app/images/landing2.jpg?raw=true" class="image" alt="Lofoten Islands">
                <img src="https://github.com/allisonbessett/new-portfolio/blob/master/src/app/images/landing3.jpg?raw=true" class="image" alt="Lofoten Islands">
            </div>
        </div>
        <footer>

        </footer>
    </div>
</div>