<div class="landing">
    <div class="container">
        <div class="interior">
            <div clas="header">
                <div class="title">
                    <h1>AB</h1>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
                    <div class="inline">2021 Hollow Dale Place</div>
                    <div class="inline">Everett, WA 98204</div>
                    <div class="inline">(509) 760-5595</div>
                </div>
            </div>
            <nav class="nav">
                <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
                    <ul class="nav-links">
                        <li>Home
                        </li>
                        <li>Projects
                        </li>
                        <li>About Me
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="account-photo col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <img src="../../images/landing1.jpg" class="image" alt="Lofoten Islands" />
            </div>
            <div class="account-photo col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <img src="../images/landing2.jpg" class="image" alt="Lofoten Islands" />
            </div>
            <div class="account-photo col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <img src="../images/landing3.jpg" class="image" alt="Lofoten Islands" />
            </div>
        </div>
    </div>
</div>