<div class="travel">
    <div class="container">
        <div class="interior">
            <div class="header">
                <div class="title">
                    <h1>Ali Roux</h1>
                </div>
            </div>
            <div class="page">
                <h3>My Travels</h3>
            </div>
            <nav>
                <div class="navigation">
                    <ul class="nav-links">
                        <a routerLink="/home" routerLinkActive="active">
                            <li class="nav">HOME</li>
                        </a>
                        <a routerLink="/travel" routerLinkActive="active">
                            <li class="nav">TRAVEL</li>
                        </a>
                        <a routerLink="/recipes" routerLinkActive="active">
                            <li class="nav">RECIPES</li>
                        </a>
                        <a routerLink="/about" routerLinkActive="active">
                            <li class="nav">ABOUT ME</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <div class="line"></div>
            <div class="row">
                <div class="column">
                    <img class="travel-image" src="../../images/iceland/geyser-cover.jpg" alt="album of Iceland">
                    <!-- <img src="rocks.jpg">
                      <img src="falls2.jpg">
                      <img src="paris.jpg">
                      <img src="nature.jpg">
                      <img src="mist.jpg">
                      <img src="paris.jpg"> -->
                </div>
            </div>
        </div>
    </div>