<div class="travel">
    <div class="container">
        <div class="interior">
            <div class="header">
                <div class="title">
                    <h1>Ali Roux</h1>
                </div>
            </div>
            <div class="page">
                <h3>My Travels</h3>
            </div>
            <nav>
                <div class="navigation">
                    <ul class="nav-links">
                        <a routerLink="/home" routerLinkActive="active">
                            <li class="nav">HOME</li>
                        </a>
                        <a [routerLink]="['/travel', {outlets: {'album': ['travelAlbum'], 'photo': ['none']}}]">
                            <li class="nav">TRAVEL</li>
                        </a>
                        <a [routerLink]="['/recipes', {outlets: {'photos': ['recipePhotos'], 'method': ['none']}}]">
                            <li class="nav">RECIPES</li>
                        </a>
                        <a routerLink="/about" routerLinkActive="active ">
                            <li class="nav">ABOUT ME</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <div class="line"></div>
            <div class="columns">
                <mat-card>
                    <router-outlet name="album"></router-outlet>
                </mat-card>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <router-outlet name="photo"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>