<div class="travel">
    <div class="container">
        <div class="interior">
            <div class="header">
                <div class="title">
                    <h1>Ali Roux</h1>
                </div>
            </div>
            <div class="page">
                <h3>My Travels</h3>
            </div>
            <nav>
                <div class="navigation">
                    <ul class="nav-links">
                        <a routerLink="/home" routerLinkActive="active">
                            <li class="nav">HOME</li>
                        </a>
                        <a routerLink="/travel" routerLinkActive="active">
                            <li class="nav">TRAVEL</li>
                        </a>
                        <a routerLink="/recipes" routerLinkActive="active">
                            <li class="nav">RECIPES</li>
                        </a>
                        <a routerLink="/about" routerLinkActive="active">
                            <li class="nav">ABOUT ME</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <div class="line"></div>
            <mat-card>
                <mat-grid-list cols="3" gutterSize="4px">
                    <mat-grid-tile *ngFor="let photo of photos" [ngClass]="{selected: photo.id === selectedPhoto}" (click)="showDesc(photo.id)">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </div> -->
</div>